n8n/workflows/03-guidance-generation.json
{
    "name": "03 - Real-time Guidance Generation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-guidance",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "guidance-webhook",
            "name": "Guidance Request",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "generate-guidance"
        },
        {
            "parameters": {
                "url": "https://abundant-porpoise-181.convex.cloud/api/query",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonBody": "={{ JSON.stringify({\n  path: 'screenshots:getRecent',\n  args: { limit: 1 }\n}) }}",
                "options": {}
            },
            "id": "get-latest-screenshot",
            "name": "Get Latest Screenshot",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                470,
                200
            ]
        },
        {
            "parameters": {
                "url": "https://abundant-porpoise-181.convex.cloud/api/query",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonBody": "={{ JSON.stringify({\n  path: 'knowledge:searchKnowledge',\n  args: {\n    query: $('Guidance Request').first().json.current_step || 'general guidance',\n    limit: 3\n  }\n}) }}",
                "options": {}
            },
            "id": "get-relevant-docs",
            "name": "Get Relevant Documentation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                470,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Combine context from multiple sources\nconst request = $('Guidance Request').first().json;\nconst screenshot = $('Get Latest Screenshot').first().json[0] || {};\nconst docs = $('Get Relevant Documentation').first().json || [];\n\nreturn {\n  execution_id: request.execution_id,\n  procedure: request.procedure,\n  step_index: request.step_index,\n  current_step: request.current_step,\n  screenshot_url: screenshot.url,\n  screenshot_timestamp: screenshot.timestamp,\n  relevant_docs: docs.map(d => ({\n    tool: d.tool_name,\n    content: d.content.substring(0, 500),\n    source: d.source_url\n  })),\n  context_assembled_at: Date.now()\n};"
            },
            "id": "assemble-context",
            "name": "Assemble Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "chat",
                "operation": "create",
                "model": "gpt-4-turbo",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a helpful guidance agent. Generate clear, step-by-step instructions for the user based on their current procedure step and UI state. Be specific and actionable. Return JSON with: {instruction, target_element, confidence, hints, fallback_options}"
                        },
                        {
                            "role": "user",
                            "content": "=Current Step: {{ $json.current_step }}\\n\\nProcedure: {{ $json.procedure }}\\n\\nStep Index: {{ $json.step_index }}\\n\\nRelevant Documentation:\\n{{ JSON.stringify($json.relevant_docs, null, 2) }}\\n\\nGenerate guidance for the user."
                        }
                    ]
                },
                "options": {
                    "maxTokens": 1500,
                    "temperature": 0.3
                }
            },
            "id": "generate-guidance",
            "name": "LLM Guidance Generation",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse LLM guidance response\nconst llmResponse = $input.first().json.choices[0].message.content;\nconst context = $('Assemble Context').first().json;\n\n// Extract JSON from response\nlet guidance;\ntry {\n  const jsonMatch = llmResponse.match(/```json\\n([\\s\\S]*?)\\n```/);\n  if (jsonMatch) {\n    guidance = JSON.parse(jsonMatch[1]);\n  } else {\n    guidance = JSON.parse(llmResponse);\n  }\n} catch (error) {\n  guidance = {\n    instruction: llmResponse,\n    target_element: 'unknown',\n    confidence: 0.5,\n    hints: [],\n    fallback_options: []\n  };\n}\n\n// Add metadata\nreturn {\n  execution_id: context.execution_id,\n  step_index: context.step_index,\n  guidance: guidance,\n  screenshot_url: context.screenshot_url,\n  generated_at: Date.now(),\n  status: 'ready'\n};"
            },
            "id": "format-guidance",
            "name": "Format Guidance Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://abundant-porpoise-181.convex.cloud/api/mutation",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "jsonBody": "={{ JSON.stringify({\n  path: 'guidance:store',\n  args: $json\n}) }}",
                "options": {}
            },
            "id": "store-guidance",
            "name": "Store Guidance in Convex",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($('Format Guidance Response').first().json) }}"
            },
            "id": "webhook-response",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1570,
                300
            ]
        }
    ],
    "connections": {
        "Guidance Request": {
            "main": [
                [
                    {
                        "node": "Get Latest Screenshot",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Relevant Documentation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Latest Screenshot": {
            "main": [
                [
                    {
                        "node": "Assemble Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Relevant Documentation": {
            "main": [
                [
                    {
                        "node": "Assemble Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assemble Context": {
            "main": [
                [
                    {
                        "node": "LLM Guidance Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Guidance Generation": {
            "main": [
                [
                    {
                        "node": "Format Guidance Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Guidance Response": {
            "main": [
                [
                    {
                        "node": "Store Guidance in Convex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Guidance in Convex": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-01-28T00:00:00.000Z",
    "versionId": "1"
}