n8n/workflows/04-tool-detection.json
{
    "name": "04 - Tool Detection",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "detect-tool",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-detect-tool",
            "name": "Webhook - Detect Tool",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "detect-tool"
        },
        {
            "parameters": {
                "jsCode": "// Extract screenshot from webhook payload\nconst screenshot = $input.item.json.screenshot;\nconst timestamp = $input.item.json.timestamp;\n\nreturn {\n  screenshot: screenshot,\n  timestamp: timestamp,\n  requestId: `detect_${timestamp}`\n};"
            },
            "id": "extract-screenshot",
            "name": "Extract Screenshot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-vision-preview",
                "messages": {
                    "values": [
                        {
                            "role": "user",
                            "content": "=Analyze this screenshot and identify:\n1. What tool/SaaS this is (GitHub, Notion, Figma, Linear, Jira, Salesforce, etc.)\n2. What page/section the user is on\n3. Key UI elements visible\n4. Current context/state\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"tool\": \"ToolName\",\n  \"page\": \"PageName\",\n  \"context\": \"Brief description\",\n  \"elements\": [\"element1\", \"element2\"],\n  \"confidence\": 0.95\n}\n\nImage: {{ $json.screenshot }}"
                        }
                    ]
                },
                "options": {
                    "maxTokens": 500,
                    "temperature": 0.3
                }
            },
            "id": "vision-api-detect",
            "name": "Vision API - Detect Tool",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Vision API response\nconst response = $input.item.json.choices[0].message.content;\n\n// Extract JSON from response (handle markdown code blocks)\nlet jsonStr = response;\nif (response.includes('```json')) {\n  jsonStr = response.split('```json')[1].split('```')[0].trim();\n} else if (response.includes('```')) {\n  jsonStr = response.split('```')[1].split('```')[0].trim();\n}\n\ntry {\n  const detection = JSON.parse(jsonStr);\n  \n  return {\n    tool: detection.tool || 'Unknown',\n    page: detection.page || 'Unknown',\n    context: detection.context || '',\n    elements: detection.elements || [],\n    confidence: detection.confidence || 0.5,\n    timestamp: $('Extract Screenshot').item.json.timestamp,\n    requestId: $('Extract Screenshot').item.json.requestId\n  };\n} catch (error) {\n  // Fallback if parsing fails\n  return {\n    tool: 'Unknown',\n    page: 'Unknown',\n    context: 'Detection failed',\n    elements: [],\n    confidence: 0,\n    error: error.message,\n    rawResponse: response\n  };\n}"
            },
            "id": "parse-detection",
            "name": "Parse Detection Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://abundant-porpoise-181.convex.cloud/api/mutation",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "path",
                            "value": "ui_states:create"
                        },
                        {
                            "name": "args",
                            "value": "={{ {\n  tool: $json.tool,\n  page: $json.page,\n  context: $json.context,\n  elements: $json.elements,\n  confidence: $json.confidence,\n  timestamp: $json.timestamp\n} }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "store-in-convex",
            "name": "Store UI State in Convex",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  success: true,\n  tool: $json.tool,\n  page: $json.page,\n  context: $json.context,\n  elements: $json.elements,\n  confidence: $json.confidence,\n  message: `Detected ${$json.tool} - ${$json.page}`\n} }}"
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook - Detect Tool": {
            "main": [
                [
                    {
                        "node": "Extract Screenshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Screenshot": {
            "main": [
                [
                    {
                        "node": "Vision API - Detect Tool",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Vision API - Detect Tool": {
            "main": [
                [
                    {
                        "node": "Parse Detection Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Detection Result": {
            "main": [
                [
                    {
                        "node": "Store UI State in Convex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store UI State in Convex": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-28T16:06:27.000Z",
    "versionId": "1"
}