backend/n8n-workflows/main-orchestrator.json
{
  "name": "Main Orchestrator",
  "nodes": [
    {
      "parameters": {},
      "name": "Screenshot Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "navigator-screenshot",
      "webhookPath": "navigator-screenshot"
    },
    {
      "parameters": {
        "functionCode": "const event = $input.item.json;\nconsole.log('Webhook received:', event);\n\nreturn {\n  session_id: event.session_id,\n  timestamp: event.timestamp,\n  screenshot_url: event.screenshot_url,\n  viewport: event.viewport,\n  query: event.query\n};"
      },
      "name": "Extract Event Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$env.VISION_SERVICE_URL}}/interpret",
        "method": "POST",
        "contentType": "application/json",
        "body": "={{JSON.stringify({ screenshot_url: $json.screenshot_url, viewport: $json.viewport, query: $json.query })}}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Vision Interpretation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const uiState = {\n  session_id: $json.session_id,\n  timestamp: $json.timestamp,\n  viewport: $json.viewport,\n  interpretation: $json.interpretation,\n  raw_screenshot_url: $json.screenshot_url\n};\n\nreturn { ui_state: uiState };"
      },
      "name": "Build UI State",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/mutations/ui_states/store",
        "method": "POST",
        "contentType": "application/json",
        "body": "={{JSON.stringify({ ui_state: $json.ui_state })}}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Store UI State in Convex",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.active_execution_exists}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Active Execution",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "workflowId": "={{$env.PROCEDURE_EXECUTION_WORKFLOW_ID}}",
        "data": "={{$json}}"
      },
      "name": "Continue Procedure Execution",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "workflowId": "={{$env.INTENT_INFERENCE_WORKFLOW_ID}}",
        "data": "={{$json}}"
      },
      "name": "Start Intent Inference",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseData": "={{JSON.stringify({ status: 'queued', session_id: $json.session_id, message: 'Your guidance request is being processed. Results will be available shortly.' })}}"
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Screenshot Event Webhook": {
      "main": [[{ "node": "Extract Event Data", "type": "main", "index": 0 }]]
    },
    "Extract Event Data": {
      "main": [[{ "node": "Vision Interpretation", "type": "main", "index": 0 }]]
    },
    "Vision Interpretation": {
      "main": [[{ "node": "Build UI State", "type": "main", "index": 0 }]]
    },
    "Build UI State": {
      "main": [[{ "node": "Store UI State in Convex", "type": "main", "index": 0 }]]
    },
    "Store UI State in Convex": {
      "main": [[{ "node": "Check Active Execution", "type": "main", "index": 0 }]]
    },
    "Check Active Execution": {
      "main": [
        [{ "node": "Continue Procedure Execution", "type": "main", "index": 0 }],
        [{ "node": "Start Intent Inference", "type": "main", "index": 0 }]
      ]
    },
    "Continue Procedure Execution": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    },
    "Start Intent Inference": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-24T00:00:00.000Z",
  "versionId": "1"
}
