backend/n8n-workflows/procedure-execution-workflow.json
{
  "name": "Procedure Execution Loop",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 450]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/queries/executions/getCurrent",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            {
              "name": "execution_id",
              "value": "={{$json.execution_id}}"
            }
          ]
        }
      },
      "name": "Get Execution State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 450]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/queries/procedures/getStep",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            {
              "name": "procedure_id",
              "value": "={{$json.procedure_id}}"
            },
            {
              "name": "step_id",
              "value": "={{$json.current_step_id}}"
            }
          ]
        }
      },
      "name": "Get Current Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 450]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/queries/ui_states/getLatestBySession",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{$json.session_id}}"
            }
          ]
        }
      },
      "name": "Get Current UI State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 450]
    },
    {
      "parameters": {
        "workflowId": "={{$env.STEP_VALIDATION_WORKFLOW_ID}}",
        "data": {
          "step": "={{$json.step}}",
          "ui_state": "={{$json.ui_state}}",
          "validation_type": "preconditions"
        }
      },
      "name": "Validate Preconditions",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.all_preconditions_met}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Preconditions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "url": "={{$env.AGENT_SERVICE_URL}}/agents/guidance",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "current_step",
              "value": "={{$json.step}}"
            },
            {
              "name": "current_state",
              "value": "={{$json.ui_state}}"
            },
            {
              "name": "execution_context",
              "value": "={{$json.execution_context}}"
            }
          ]
        }
      },
      "name": "Guidance Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "url": "={{$env.EXTENSION_SOCKET_URL}}/guidance/show",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{$json.session_id}}"
            },
            {
              "name": "guidance",
              "value": "={{$json.output}}"
            }
          ]
        }
      },
      "name": "Send Guidance to Extension",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait for User Action",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1850, 350]
    },
    {
      "parameters": {
        "workflowId": "={{$env.STEP_VALIDATION_WORKFLOW_ID}}",
        "data": {
          "step": "={{$json.step}}",
          "ui_state": "={{$json.new_ui_state}}",
          "validation_type": "success_conditions"
        }
      },
      "name": "Validate Success Conditions",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2050, 350]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.all_conditions_met}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Step Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 350]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/mutations/executions/updateStep",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution_id",
              "value": "={{$json.execution_id}}"
            },
            {
              "name": "step_id",
              "value": "={{$json.step_id}}"
            },
            {
              "name": "status",
              "value": "completed"
            }
          ]
        }
      },
      "name": "Mark Step Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2450, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_last_step}}",
              "value2": false
            }
          ]
        }
      },
      "name": "Check If Last Step",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2650, 250]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/mutations/executions/moveToNextStep",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution_id",
              "value": "={{$json.execution_id}}"
            }
          ]
        }
      },
      "name": "Move to Next Step",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Loop back to start\nreturn $json;"
      },
      "name": "Loop Back",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "={{$env.CONVEX_URL}}/api/mutations/executions/complete",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution_id",
              "value": "={{$json.execution_id}}"
            }
          ]
        }
      },
      "name": "Complete Procedure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [2850, 300]
    },
    {
      "parameters": {
        "workflowId": "={{$env.RECOVERY_WORKFLOW_ID}}",
        "data": "={{$json}}"
      },
      "name": "Start Recovery",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [2450, 450]
    },
    {
      "parameters": {
        "workflowId": "={{$env.RECOVERY_WORKFLOW_ID}}",
        "data": "={{$json}}"
      },
      "name": "Handle Precondition Failure",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1450, 550]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Get Execution State", "type": "main", "index": 0 }]]
    },
    "Get Execution State": {
      "main": [[{ "node": "Get Current Step", "type": "main", "index": 0 }]]
    },
    "Get Current Step": {
      "main": [[{ "node": "Get Current UI State", "type": "main", "index": 0 }]]
    },
    "Get Current UI State": {
      "main": [[{ "node": "Validate Preconditions", "type": "main", "index": 0 }]]
    },
    "Validate Preconditions": {
      "main": [[{ "node": "Check Preconditions", "type": "main", "index": 0 }]]
    },
    "Check Preconditions": {
      "main": [
        [{ "node": "Guidance Agent", "type": "main", "index": 0 }],
        [{ "node": "Handle Precondition Failure", "type": "main", "index": 0 }]
      ]
    },
    "Guidance Agent": {
      "main": [[{ "node": "Send Guidance to Extension", "type": "main", "index": 0 }]]
    },
    "Send Guidance to Extension": {
      "main": [[{ "node": "Wait for User Action", "type": "main", "index": 0 }]]
    },
    "Wait for User Action": {
      "main": [[{ "node": "Validate Success Conditions", "type": "main", "index": 0 }]]
    },
    "Validate Success Conditions": {
      "main": [[{ "node": "Check Step Success", "type": "main", "index": 0 }]]
    },
    "Check Step Success": {
      "main": [
        [{ "node": "Mark Step Complete", "type": "main", "index": 0 }],
        [{ "node": "Start Recovery", "type": "main", "index": 0 }]
      ]
    },
    "Mark Step Complete": {
      "main": [[{ "node": "Check If Last Step", "type": "main", "index": 0 }]]
    },
    "Check If Last Step": {
      "main": [
        [{ "node": "Move to Next Step", "type": "main", "index": 0 }],
        [{ "node": "Complete Procedure", "type": "main", "index": 0 }]
      ]
    },
    "Move to Next Step": {
      "main": [[{ "node": "Loop Back", "type": "main", "index": 0 }]]
    },
    "Loop Back": {
      "main": [[{ "node": "Get Execution State", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-24T00:00:00.000Z",
  "versionId": "1"
}
