backend/n8n-orchestrator/workflows/navigator-main-simple.json
{
  "name": "Navigator Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "navigator-screenshot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Screenshot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "navigator-screenshot-event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/interpret",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "screenshot_url",
              "value": "={{ $json.screenshot_url }}"
            },
            {
              "name": "viewport",
              "value": "={{ $json.viewport }}"
            }
          ]
        },
        "options": {}
      },
      "id": "vision-service-1",
      "name": "Vision Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build UI State object\nconst inputData = $input.all();\nconst visionResult = inputData[0].json;\nconst webhookData = $('Screenshot Webhook').item.json;\n\nconst uiState = {\n  session_id: webhookData.session_id,\n  timestamp: webhookData.timestamp || Date.now(),\n  viewport: webhookData.viewport,\n  interpretation: visionResult.interpretation,\n  raw_screenshot_url: webhookData.screenshot_url\n};\n\nreturn { ui_state: uiState };"
      },
      "id": "code-1",
      "name": "Build UI State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Screenshot processed\", \"session_id\": $json.ui_state.session_id } }}"
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Screenshot Webhook": {
      "main": [
        [
          {
            "node": "Vision Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision Service": {
      "main": [
        [
          {
            "node": "Build UI State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build UI State": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-24T00:00:00.000Z",
  "versionId": "1"
}
